@font-face {
    font-family: "Gabarito";
    src: url("/fonts/Gabarito-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Gabarito";
    src: url("/fonts/Gabarito-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Gabarito";
    src: url("/fonts/Gabarito-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Gabarito";
    src: url("/fonts/Gabarito-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Gabarito";
    src: url("/fonts/Gabarito-ExtraBold.ttf");
    font-weight: 800;
    font-style: normal;
}
